/* div{
    background-color: rgb(211, 180, 113);
}
 */

 .red{
    background-color: red;
 }
 .green{
    background-color: green;
 }
 .blue{
    background-color: blue;

 }
 .yellow{
    background-color:yellow;
 }
    