body{
    font-family: "Montserrat";
    background-color: skyblue;
    padding-top: 110px;
}

h2{
    text-align: center;
    color: rgb(44,123,184);
}
h4{
    padding-top: 20px;
    margin: 0;
    text-align: center;
    color: rgb(44,123,184);
    font-size: 1.5rem;
    

}

.price-table{
    height: 700px;
    display: flex;
    flex-direction: row; 
    column-gap: 40px; 
    row-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* padding-top: 30px; */
}


.price-box{
    text-align: center;
    background-color: whitesmoke;
    height: 600px;
    width: 250px;
  /* padding: 20px 20px; */
}   

.price-row{
    text-align: center;
    padding: 0px;
    margin: 0px;

}
.rupee{
    font-size: 1rem;
    color: rgb(44,123,184);
}
.price{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 0px;
}
.tenure{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0px;
}
.price-row-cancel{
    text-align: center;
    color: gray;
    padding-bottom: 30px;
    margin: 0px;
}

.cancel-price{
    margin: 0px;

}

.title{
color: blue;
font-weight: bold;
background-color: white;
padding-top:5px;
padding-bottom: 2px;
margin-top: 0px;

}


.features{
    padding-top: 20px;

} 

.feature{
    padding: 4px;
    font-size: 1rem;
    text-align: left;

}

.heading{
    font-size:large ;
    font-weight:bold;
}


.add-to-cart{
    text-decoration: none;
    background-color:  rgb(192, 101, 11);
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;;
    text-align: center;
    font-weight: bold;
    }

.buisness{
    color: red;
}