/* defining the global variable */
:root {
    --backgroundColor: #17c1df;
    --primaryColor: #000707;
    --primaryAscentColor: #6b3e03;
    --fontDefaultTextFont: 'Lato', sans-serif;
    --myTitleFont: 'Dancing Script', cursive;
    --titlefont:'Great Vibes',cursive;
    --fontDefaultHeading:'Monserrat',sans-serif;
    --newfont:'Sacramento',cursive;
}

body {
    margin: 0px;
    color:var(--primaryColor);
    font-family:var(--fontDefaultHeading);
    line-height: 2;
}

.top-section {
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    /* height: 400px; */
    padding-top: 120px;
    text-align: center;
}

/* .heading-group {
    /* clockwise direction */
    /* display: inline-block; */
    /* margin-top: 150px; */
    /* padding:200px; */
/* } */

.heading {
    font-family: var(--newfont);
    font-size:4.75rem;
    font-weight:50px;
    /*color:var(--primarycolor); */
    margin: 0px;
  
}
.middle-section{
    margin:50px auto 100px auto;
    text-align:center;
    width :75%;
}

.circular{
    border-radius: 100px;
    width: 70px;
    position: absolute;
    margin-left: -500px;
    margin-right: -215px;

}
.intro{
    width:60%;
    line-height:2;
    margin:auto;
}
h2 {
    font-family: var(-fontDefaultHeading);
    font-size: 2.00rem;
    margin: 0;
    padding-bottom: 20px;
    /*color:var(--primarycolor); */
}

.top-cloud{
    position: absolute;
    margin-block-start: -70px;
    margin-left: 250px;
    width: 100px;

}

.bottom-cloud{
    position: absolute;
    margin-block-start: 6px;
    margin-left: -300px;
    width: 100px;
}

.mountains{
    /*position: absolute;
    margin-block-start: 200px;
    margin-right: -10px;*/
    width: 500px;
    margin-bottom: 0px;

}
.img {
    margin-bottom:-5px;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive; */
  /* font-size: xx-large; */
    /* font-family: serif; by default font family is serif */
    
    /* font-family: monospace;  equal space between characters to make reading easier*/
    /* font-family: Verdana,sans-serif; */
    /* to display verdana and if it does not exist on someone's computers then show sans serif*/
    /* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive; */

.profilepic{
    width:300px;
    border-radius: 100%;
    margin:100 px auto 50px auto;
    display :block;
}
hr{
    margin-bottom: 100px;
    margin-top: 100px;
    border-top: 5px dotted rgb(12, 3, 3);
    width:5%;
}
.skill-image {
    width :150px;
}
.my-skills{
    margin-bottom: 60px;
}
.left{
    float: left;
    margin-right: 40px ;
}
.right{
    float: right;
    margin-left: 40 px;
}
.skill-row{
    text-align: left;
    margin-bottom: 80px;
}
a{
    text-decoration: none;
    color: white;
}
.contact{
    background-color:brown;
    font-size: 1.75rem;
    padding: 10px 20px;
     border-radius: 15px; 
}
.contact:hover{
  background-color:rgb(179, 69, 69);
}
.bottom-section{
    margin:opx auto;
    padding: 80px auto;
    text-align: center;
    background-color: var(--primaryColor);
}

.social{
    padding: 40px 0px;
}
/* .social-link{
    margin: 0px 40px;
} */
.social-link:hover {
 color: rgb(69, 112, 148);
}

.copyright{
    margin: 0px;
    color: white;
    
}