body
{
    background-color: aliceblue;
    text-align: center;
    color: white;
}
.box{
    height: 100px;
    width: 100px ;
}
.container{
   /* height: 1500px;
    width: 1500px; */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap:10px;
    /* gap: 30px; */
     justify-content:center;
    align-items: center; 
}


.red{
    background-color: red;
}

.green{
    background-color: green;
    width: 300px;

}
.brown{
    background-color: brown;
    order:4;
}
.blue{
    background-color: blue;
    height: 200px;
    flex-grow:6; /* by default flex grow value is 1 */
}
.orange{
    background-color: orange;
    order:1;
}
.magenta{
    background-color: magenta;
    order:3;
}
.cyan{
    background-color: cyan;
    flex-grow:3;
}
.black{ 
    background-color: black;
}
.teal{
    background-color: teal;
}